:root {
	--main-font-color: #333;
	--main-border-color: #999;
	--main-button-background-color: #e1e1e1;
	--main-button-border-color: #999;
	--input-border-color: #999;
	--input-placeholder-color: #888;
	--white: #fff;

	--active-color: #A2D471;
	--enactive-color: #F17171;
	--win-color: #FFD071;

	--game-bg: #ececec;
	--game-btn-color: #999;
}
