* {
	font-family: "Open Sans", sans-serif;
	line-height: normal;
	color: var(--main-font-color);
}

.wrapper {
	display: flex;
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
}

.container {
	margin: 10px 0;
	padding: 0 15px;
	width: 100%;
}

.full-screen {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100vh;
	width: 100%;
}

.flex-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-started {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.grid-list {
	display: grid;
	grid-gap: 20px;
}

.grid-column {
	grid-template-columns: repeat(auto-fit, 250px);
}

.no-select {
	user-select: none;
}

.display-none {
	display: none;
}

input {
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	outline: none;
	background-color: var(--white);
	border: 1px solid var(--input-border-color);
}

input::placeholder {
	color: var(--input-placeholder-color);
}

.btn {
	border-radius: 2px;
	text-transform: capitalize;
	color: var(--main-font-color);
	background-color: var(--main-button-background-color);
	cursor: pointer;
}

.padding-15-20 {
	padding: 15px 20px;
}

.title {
	margin: 20px 0;
	padding: 0 10px;
	text-transform: capitalize;
}

@media (max-width: 1024px) {
	.container,
	.title {
		padding: 0;
	}
}
