.grid-game-page {
	display: grid;
	grid-gap: 20px;
	grid-template: auto 1fr / 260px minmax(280px, 1fr);
	width: 100%;
	height: 100%;
}

/* GAME INFORMATION */
.quit-room-btn {
	padding: 10px 20px;
}

/* GAME USERS */
.game-users {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 30px 30px 10px 10px;
}

.users-list {
	width: calc(260px - 40px);
	max-width: 270px;
}

.user {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
}

.user-information {
	position: relative;
	display: flex;
	flex: 0 0 30px;
	align-items: center;
	justify-content: flex-start;
	height: 30px;
}

.indicator {
	flex: 0 0 16px;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.ready-status-red {
	background-color: var(--enactive-color);
}

.ready-status-green {
	background-color: var(--active-color);
}

.user-name {
	flex: 0 1 auto;
	overflow: hidden;
	padding: 0 0 3px;
	width: calc(100% - 68px);
	white-space: nowrap;
	text-overflow: ellipsis;

	font-weight: 600;
	font-size: 16px;
}

.progress-bar {
	position: relative;
	flex: 0 0 20px;
	overflow: hidden;
	border-radius: 50px;
	border: 2px solid var(--main-border-color);
	width: 100%;
	height: 20px;
}

.user-progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: var(--active-color);
}

.user.win .indicator,
.user.win .user-progress {
	background-color: var(--win-color);
}

.user.user-you .user-information::before {
	content: '(you)';
	position: absolute;
	top: 50%;
	right: 5px;
	font-weight: 600;
	font-size: 12px;
	color: var(--input-placeholder-color);
	transform: translateY(calc(-50% - 1px));
}

/* GAME FIELD */
.game-field {
	grid-row: 1/3;
	grid-column: 2/3;
}

.game-section {
	width: 100%;
	height: 100%;
}

.game-section-content {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	border: 2px solid var(--game-bg);
}

/* READY SECTION */
#game-section-ready {
	border-color: var(--active-color);
}

#game-section-ready.active {
	border-color: var(--enactive-color);
}

.ready-btn {
	padding: 20px;
	width: 100%;
	height: 100%;
	font-weight: 600;
	font-size: 40px;
	text-transform: uppercase;
	color: var(--active-color);
	background-color: transparent;
	transition: transform 150ms ease;
}

#game-section-ready.active .ready-btn {
	color: var(--enactive-color);
}

/* TIMER SECTION */
#game-section-timer {
	border-color: var(--win-color);
}

.timer {
	padding: 10px 10px;
	font-weight: 600;
	font-size: 50px;
	color: var(--win-color);
}

/* TEXT SECTION */
#game-section-text {
	position: relative;
	flex-direction: column;
	padding: 40px 40px 30px;
}

.seconds-left {
	position: absolute;
	top: 10px;
	right: 20px;
}

.seconds-left, 
.seconds-left span {
	font-weight: 500;
	font-size: 14px;
	color: var(--input-placeholder-color);
}

.text-box {
	overflow-x: hidden;
	overflow-y: auto;
	flex: 0 1 auto;
	width: 100%;
}

#text-container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1000px;
}

.paragraph {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.02rem;
	line-height: 1.5em;
	color: var(--main-font-color);
}

.paragraph mark {
	border-radius: 2px;
	padding: 2px;
	background-color: var(--win-color);
}

/* MEDIA MAX 1024PX */
@media (max-width: 1024px) {
	.grid-game-page {
		grid-template: repeat(3, auto) / 1fr;
		height: auto;
	}

	.game-field {
		grid-row: 2/3;
		grid-column: auto;
		min-height: 200px;
	}

	.game-users {
		padding: 15px 5px;
	}

	.users-list {
		width: 100%;
	}

	#game-section-text {
		padding: 40px 10px 20px;
	}

	#text-container {
		padding: 0 10px;
	}

	.paragraph {
		font-size: 14px;
	}
}

/* MEDIA MAX 425PX */
@media (max-width: 425px) {
	.paragraph {
		font-size: 12px;
	}
}
