.page-title {
	width: 100%;
	text-align-last: left;
	font-weight: 600;
	font-size: 34px;
}

.add-room-btn {
	padding: 10px 30px;
}

#rooms-list {
	margin-top: 40px;
}

.room {
	border: 1px solid var(--main-border-color);
	width: 100%;
	padding: 20px;
}

.user-connected {
	margin: 0 0 10px;
	width: 100%;
	font-weight: 500;
	font-size: 14px;
}

.room-title {
	overflow: hidden;
	margin: 26px 0;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 600;
	font-size: 18px;
	color: var(--main-font-color);
}

.join-btn {
	margin: 20px 0 10px;
	padding: 5px 30px;
}

